players/*
worlds/*
plugins/*
logs/*
bin/*
eclipse/*
*.log
*.txt
*.properties
*.dll
*.exe
cachegrind.*
/pocketmine.yml
/festival.yml

# Common IDEs
.idea/*
.idea/codeStyles/
.idea/fileTemplates/
nbproject/*

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
*.properties
bin/php/php.ini
/.metadata/
