players/*
worlds/*
plugins/*
logs/*
bin/*
eclipse/*
*.log
*.txt
*.properties
*.dll
*.exe
cachegrind.*

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
*.properties
bin/php/php.ini
/.metadata/
